.header {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.back-to-home {
  text-decoration: none;
  color: blue;
  font-size: 1em;
}

.back-to-home:hover {
  text-decoration: underline;
}
