.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.homeContainer h1 {
  margin-bottom: 20px;
}

.navList {
  list-style: none;
  padding: 0;
}

.navItem {
  margin: 10px 0;
}

.navLink {
  text-decoration: none;
  color: blue;
  font-size: 1.2em;
}

.navLink:hover {
  text-decoration: underline;
}
