.menuDetailContainer {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

.menuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.menuName {
  font-size: 2em;
  font-weight: bold;
}

.reviewScore {
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.menuContent {
  display: flex;
}

.menuPhoto {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.menuInfo {
  flex-grow: 1;
}

.reviewComments,
.listedHistory {
  margin-top: 20px;
}

.reviewComment,
.listedDate {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.reviewComments h2,
.listedHistory h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.reviewComment {
  border: 1px solid #ddd;
}

.listedDate {
  border: 1px solid #ddd;
}

@media (max-width: 768px) {
  .menuDetailContainer {
    width: 90%;
    padding: 10px;
  }

  .menuHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .reviewScore {
    margin-top: 10px;
  }

  .menuContent {
    flex-direction: column;
    align-items: center;
  }

  .menuPhoto {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .menuInfo {
    width: 100%;
  }

  .reviewComment,
  .listedDate {
    width: 100%;
  }
}
