.menuPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.menuPageHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.menuPageHeader button {
  margin: 0 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.5em;
}

.menuPageHeader div {
  margin: 0 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.reviewForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  max-width: 600px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.reviewForm select,
.reviewForm input,
.reviewForm textarea,
.reviewForm button {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  font-size: 1em;
  box-sizing: border-box;
}

.sliderContainer {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.slider {
  flex-grow: 1;
}

.sliderValue {
  margin-left: 10px;
  font-size: 1.5em;
}

.reviewForm textarea {
  height: 100px;
  resize: none;
}

.buttonDisabled {
  color: grey;
  cursor: not-allowed;
}
